* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container-game {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18vh;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

.dashboard img.btn-start {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  cursor: pointer;
  z-index: 999;
}

.slide-out {
  animation: slide-out 0.3s ease forwards;
}

@keyframes slide-out {
  0% {
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

.countdown {
  font-size: 4rem;
  opacity: 0;
  transform: translateY(-100%);
  animation: slide-in 0.8s ease;
}
@keyframes slide-in {
  0% {
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-game {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  transition: 1s all ease-in;
}

.result {
  width: 50%;
  font-family: "Gelasio", serif;
}
.result h1 {
  font-size: 5rem;
}

.timer {
  width: 25%;
  align-self: flex-end;
}

.hidden {
  opacity: 0 !important;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 75vh;
}

.cardBox {
  width: 30%;
  margin: 1px;
  height: calc(100% / 4);
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.cardBox-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.cardBox-inner.visible {
  transform: rotateY(180deg);
}

.card-invisible {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(231, 251, 203);
}

.card-visible {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card-visible img {
  padding: 2px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.card-visible.guessed {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-visible.guessed::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 251, 203, 0.7);
}

.finish-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(231, 251, 203, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: 0s all ease-in;
}

.finish-modal.show {
  opacity: 1;
  transform: scale(1);
}

.modal-container {
  background-color: #92d13d;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0 0 20px 20px;
  transform: scale(0);
  opacity: 0;
  transition: 1s all ease-in;
}
.modal-container.show {
  opacity: 1;
  transform: scale(1);
}

.modal-container .header {
  width: 100%;
  color: white;
  padding: 1em;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container .header .btn-close {
  position: absolute;
  right: 5%;
  margin: auto;
  width: 8%;
  cursor: pointer;
}
.modal-container .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3vh;
}
.modal-container .info {
  display: flex;
  margin: 3vh 0;

  width: 100%;
  justify-content: space-around;
}
.modal-container .info img {
  width: 10%;
  margin: 0.5em;
  cursor: pointer;
}

.path-rear,
.path-front {
  display: none;
}

@media (min-width: 568px) {
  .container-game {
    width: 90%;
  }
  .modal-container {
    width: 70%;
  }
  .modal-container .header .btn-close {
    width: 5%;
  }
  .result h1 {
    font-size: 3rem;
  }

  .cardBox {
    width: 24%;
    height: calc(100% / 3);
  }
  .invisible {
    width: 24%;
    height: calc(100% / 3);
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-game {
    position: absolute;
    z-index: 998;
  }
  .modal-container {
    width: 60%;
  }
  .path-rear,
  .path-front {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .path-front {
    z-index: 2;
  }
  .container-game {
    width: 80%;
  }
  .result h1 {
    font-size: 4rem;
  }

  .cards {
    height: 60%;
  }
}
@media (min-width: 1280px) {
  .container-game {
    position: absolute;
    width: 60%;
    height: 90%;
  }
  .modal-container {
    width: 40%;
  }
  .result h1 {
    font-size: 5rem;
  }

  .cards {
    height: 70%;
  }
}
